@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
  }

  body {
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
  }
}
